.login {
    height: 100vh;
    background-image: url(../background_login.svg); 
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;

    img{
        width: 20%;
        min-width: 200px;
    }

    form{
        
        align-items: center;
        background-color: white;
        width: 40%;
        min-width: 250px;
        min-height: 250px;
        height: 30%;
        margin: 10px;
        border-radius: 8px;
        justify-content: center;

        input{
            width: 80%;
            margin-bottom: 20px;
        }

        button {
            width: 80%;
        }

    }
}
